<?php

use Infrastructure\Framework\Http\Whoops\WhoopsRunFactory;
use Framework\Http\Middleware\ErrorHandler\WhoopsErrorResponseGenerator;
use Framework\Http\Middleware\ErrorHandler\ErrorResponseGeneratorInterface;
use Infrastructure\Framework\Http\Middleware\ErrorHandler\WhoopsErrorResponseGeneratorFactory;

return [
    'dependencies' => [

        'factories' => [
            ErrorResponseGeneratorInterface::class => WhoopsErrorResponseGenerator::class,

           \Whoops\RunInterface::class => WhoopsRunFactory::class,

            WhoopsErrorResponseGenerator::class =>
                WhoopsErrorResponseGeneratorFactory::class,
        ],

    ],

    'doctrine' => [
        'configuration' => [
            'orm_default' => [
                'result_cache' => 'array',
                'metadata_cache' => 'array',
                'query_cache' => 'array',
                'hydration_cache' => 'array',
            ],
        ],
        'driver' => [
            'entities' => [
                'cache' => 'array',
            ],
        ],
    ],

    'debug' => true,
];
